<!DOCTYPE html>
<html xmlns:mml="http://www.w3.org/1998/Math/MathML">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>eLife Lens - A novel way of seeing content</title>

    <!-- ====================== -->
    <!-- Content Node templates -->
    <!-- ====================== -->

    <!-- Ken.Browser  -->
    <script type="text/x-ejs-template" name="browser">
      <div id="facets"></div>
      <div id="matrix" class="surface"></div>
      <div id="details"></div>
    </script>

    <!-- Ken.Item  -->
    <script type="text/x-ejs-template" name="item">
      <a href="http://lens.elifesciences.org/<%= item._id.replace('e', '') %>" class="item" id="<%= _.htmlId(item._id) %>" data-id="<%= item._id %>">
        <div class="article-type">
          <%= item.properties["article-type"] %>
          <div class="published_at">
            <% if (item.properties["published_at"]) { %>
              <%= new Date(item.properties["published_at"]).toDateString() %>
            <% } %>
          </div>
        </div>
        <% if (matches.length > 0) { %>
          <div class="markers">
            <% _.each(matches, function(match) { %>
              <div class="marker" style="background: <%= match.color %>"></div>
            <% }); %>
          </div>
        <% } %>
        <div class="name"><%= item.properties.name.substr(0, 300) %></div>
        <div class="authors"><%= item.properties.authors.join(', ') %></div>
      </a>
    </script>

    <!-- Ken.Facets  -->
    <script type="text/x-ejs-template" name="facets">
      <div class="about">
        <a class="about" href="http://lens.elifesciences.org/about">About eLife Lens</a>
      </div>
      <div class="article-count">Showing <%= collection.length %> articles</div>
      <% var count = 0; %>
      <% _.each(facets, function(f, key) { %>
        <div class="filter <%= key %>">
          <div class="filter-name"><%= f.name %></div>
          <div class="available-values">
            <% _.each(f.availableValues, function(val) { %>
              <a href="#" class="value <%= val.selected ? 'remove' : 'add' %><%= val.relatedObjects.length > 0 ? " related" : "" %>" data-property="<%= key %>" data-value="<%= val.val %>" style="background: <%= val.color %>">
                <%= val.val.toLowerCase().substr(0, 36) %>
                <span class="frequency"><%= val.objects.length %></span>
              </a>
            <% }); %>
          </div>
        </div>
      <% }); %>
    </script>

    <!-- Lib -->
    <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>

    <!-- Ken Browser -->
    <script type="text/javascript" src="lib/data.js"></script>
    <script type="text/javascript" src="lib/ken.js"></script>

    <!-- Util -->
    <script type="text/javascript" src="src/util.js"></script>
    
    <!-- Lens -->
    <script type="text/javascript" src="src/lens.js"></script>

    <!-- Lens Config -->
    <script type="text/javascript" src="src/config.js"></script>

    <!-- Lens Model -->
    <script type="text/javascript" src="src/session.js"></script>

    <script type="text/javascript">
      $(function() {
        // The Controller
        window.session = new Lens.Session();
        // The Main View
        window.app = new Lens();
        app.render();
        app.list();
      });
    </script>
    
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/ken.css"/>


    <!-- eLife brand fonts -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/c10f70b9-7e7a-4f33-9361-d43022ae343e.css"/>
    
  </head>
  <body>
    <div id="container">
      <a href="#" class="home">
        <img src="./images/logo.png">
        <div class="go-back">Articles</div>
      </a>
      <div id="header">
        <div class="title"></div>
      </div>

      <div class="loading" style="display: none;"></div>

      <div id="main">
      </div>
    </div>
  </body>
</html>